header{
    width: 100%;
    height: 60px;
    background:black;
    position: relative;
    z-index: 100;

}
.img-logo{
    width: 150px;
 
}
.menu{
    width: 100px;
    float: right;
    margin-top: 19px;
    margin-right: 10%;
    
}

body{
background:#59ABE3;margin:0
}
.form{
width:400px;height:565px;background:#e6e6e6;border-radius:8px;
box-shadow:0 0 40px -10px #000;margin:auto;padding:20px 30px;margin-top:50px;
max-width:calc(100vw - 40px);box-sizing:border-box;font-family:sans-serif;position:relative
}
h2{margin:10px 0;padding-bottom:10px;width:180px;color:#78788c;border-bottom:3px solid #78788c}
input.registro{
width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;
resize:none;border:0;font-family:sans-serif;transition:all .3s;
border-bottom:2px solid #bebed2
}
input.registro:focus{
border-bottom:2px solid #78788c
}
p:before{
content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:#5a5a5a
}
input.boton{
float: left; padding:8px 12px;margin:8px 0 0;font-family:sans-serif;border:2px solid #78788c;
background:0;color:#5a5a6e;cursor:pointer;transition:all .3s
}
input.boton1{
float:right;padding:8px 12px;margin:8px 0 0;font-family:sans-serif;border:2px solid #78788c;
background:0;color:#5a5a6e;cursor:pointer;transition:all .3s
}
button:hover{
	background:#78788c;color:#fff
}
textarea{
	resize: none;
}

label{

	font-family:sans-serif;background:0;color:#5a5a6e;
	transition:all .3s;
    border-bottom:2px solid #bebed2;
    
}
div{
content:'Hi';position:absolute;bottom:-15px;right:-20px;background:#50505a;
color:#fff;width:320px;padding:16px 4px 16px 0;border-radius:6px;font-size:13px;
box-shadow:10px 10px 40px -14px #000
}
span{
margin:0 5px 0 15px
}